<!-- Header -->
<header>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>User Management System</h2>
                </div>
                <div class="col-sm-6">
                    <button class="btn btn-dark float-end" (click)="goToList();">Back to List</button>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End of Header -->

<!-- Form to add and update user -->
<div class="form-box mt-3">
    <form #myForm="ngForm" class="form border rounded shadow p-3" [formGroup]="userForm">

        <legend class="mt-2">
            <h3>{{ isEdit ? 'Edit user' : 'New User'}}</h3>
        </legend>
        <div>

            <!-- First Name -->
            <div class="form-group">
                <label class="control-label" for="firstname">First Name</label>
                <input type="text" formControlName="firstname" class="form-control" />
                <span>
                    <label class="text-danger"
                        *ngIf="userForm.controls['firstname'].touched && userForm.controls['firstname'].invalid">
                        Please enter first name.
                    </label>
                </span>
            </div>

            <!-- Last Name -->
            <div class="form-group">
                <label class="control-label" for="lastname">Last Name</label>
                <input type="text" formControlName="lastname" class="form-control" />
                <span>
                    <label class="text-danger"
                        *ngIf="userForm.controls['lastname'].touched && userForm.controls['lastname'].invalid">
                        Please enter last name.
                    </label>
                </span>
            </div>

            <!-- Address -->
            <div class="form-group">
                <label class="control-label" for="address">Address</label>
                <input type="text" formControlName="address" class="form-control" />
                <span>
                    <label class="text-danger"
                        *ngIf="userForm.controls['address'].touched && userForm.controls['address'].invalid">
                        Please enter address or city.
                    </label>
                </span>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label class="control-label" for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" />
                <span>
                    <label class="text-danger"
                        *ngIf="userForm.controls['email'].touched && userForm.controls['email'].invalid">
                        Please enter valid email address.
                    </label>
                </span>
            </div>

            <!-- Phone -->
            <div class="form-group">
                <label class="control-label" for="phone">Phone</label>
                <input type="text" formControlName="phone" class="form-control" id="phone" maxlength="10" minlength="10"
                    (keypress)="mobileNumberCheck($event)" />
                <label class="text-danger"
                    *ngIf="userForm.controls['phone'].touched && userForm.controls['phone'].invalid">
                    Please enter valid phone number.
                </label>
            </div>

            <!-- Submit Button -->
            <div class="form-group text-center">
                <button class="btn btn-dark mt-3" type="submit" (click)="onSubmit()"
                    [disabled]="!userForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>
<!-- End of Form -->